<div class="shop-list overflow-auto shadow p-3 mb-5 bg-body rounded">
<ng-container class="shop-list-table">
  <table cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Keyword</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Weight</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productData">
        <td>{{ product.name }}</td>
        <td align="center">{{ product.type }}</td>
        <td>{{ product.description }}</td>
        <td align="center">{{ product.keyword }}</td>
        <td align="center">{{ product.quantity }}</td>
        <td align="center">{{ product.price }}</td>
        <td align="center">{{ product.weight }}</td>
        <td align="center"><button type="button" class="btn btn-warning" (click)="showEditForm(product._id,product.name,product.type,product.description,product.keyword,product.quantity,product.price,product.weight)" data-bs-toggle="modal" data-bs-target="#editProductModal" >Edit</button></td>
        <td align="center"><button type="button" class="btn btn-danger" (click)="deleteProduct(product._id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</ng-container>
</div>

<div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editProductModalLabel">Edit product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editProductForm" [formGroup]="editForm">
          <input type="hidden" class="form-control" id="product-id" name="id" formControlName="id" value="1">
          <div class="mb-3">
            <label for="product-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="product-name" formControlName="name" placeholder="Input your product's name">
            <pre *ngIf="editForm.controls['name'].invalid">Input at least 4 letter</pre>
          </div>
          <div class="mb-3">
            <label for="product-type" class="col-form-label">Type:</label>
            <input type="text" class="form-control" id="product-type" formControlName="type" placeholder="Input your product's type">
            <pre *ngIf="editForm.controls['type'].invalid">Input at least 4 letter</pre>
          </div>
          <div class="mb-3">
            <label for="product-description" class="col-form-label">Description:</label>
            <textarea class="form-control" id="product-description" formControlName="description" placeholder="Input your product's description"></textarea>
            <pre *ngIf="editForm.controls['description'].invalid">Input at least 4 letter</pre>
          </div>
          <div class="mb-3">
            <label for="product-keyword" class="col-form-label">Keyword:</label>
            <input type="text" class="form-control" id="product-keyword" formControlName="keyword" placeholder="Input your product's keyword">
            <pre *ngIf="editForm.controls['keyword'].invalid">Input at least 4 letter</pre>
          </div>
          <div class="mb-3">
            <label for="product-quantity" class="col-form-label">Quantity:</label>
            <input type="text" class="form-control" id="product-quantity" formControlName="quantity" placeholder="Input your product's quantity">
            <pre *ngIf="editForm.controls['quantity'].invalid">Input only positive number</pre>
          </div>
          <div class="mb-3">
            <label for="product-price" class="col-form-label">Price:</label>
            <input type="text" class="form-control" id="product-price" formControlName="price" placeholder="Input your product's price(per item)">
            <pre *ngIf="editForm.controls['price'].invalid">Input only positive number</pre>
          </div>
          <div class="mb-3">
            <label for="product-weight" class="col-form-label">Weight:</label>
            <input type="text" class="form-control" id="product-weight" formControlName="weight" placeholder="Input your product's weight(per item)">
            <pre *ngIf="editForm.controls['weight'].invalid">Input only positive number</pre>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="reset()">Close</button>
        <button type="submit" value="submit" class="btn btn-warning" data-bs-dismiss="modal" (click)="onSubmitEdit(editForm.controls['id'].value)">Edit product</button>
      </div>
    </div>
  </div>
</div>