
thead{
  background-color: #1e85ec;
  color: whitesmoke;
}

th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

td{
  padding : 5px;
}

tr{
  padding: 10px;
}

.shop-list{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px ;
}