<a [routerLink]="['/']">
  <h1>My Angular Store</h1>
</a>
<button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#addProductModal" data-backdrop="static" data-keyboard="false">Add product</button>

<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProductModalLabel">Add product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="reset()"></button>
      </div>
      <div class="modal-body">
        <form id="addProductForm" [formGroup]="emptyForm">
          <div class="mb-3">
            <label for="product-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="product-name" formControlName="name" placeholder="Input your product's name">
            <pre *ngIf="emptyForm.controls['name'].invalid">Input at least 4 letter</pre>
          </div>
          <div class="mb-3">
            <label for="product-type" class="col-form-label">Type:</label>
            <input type="text" class="form-control" id="product-type" formControlName="type" placeholder="Input your product's type">
            <pre *ngIf="emptyForm.controls['type'].invalid">Input at least 4 letter</pre>
          </div>
          <div class="mb-3">
            <label for="product-description" class="col-form-label">Description:</label>
            <textarea class="form-control" id="product-description" formControlName="description" placeholder="Input your product's description"></textarea>
            <pre *ngIf="emptyForm.controls['description'].invalid">Input at least 4 letter</pre>
          </div>
          <div class="mb-3">
            <label for="product-keyword" class="col-form-label">Keyword:</label>
            <input type="text" class="form-control" id="product-keyword" formControlName="keyword" placeholder="Input your product's keyword">
            <pre *ngIf="emptyForm.controls['keyword'].invalid">Input at least 4 letters</pre>
          </div>
          <div class="mb-3">
            <label for="product-quantity" class="col-form-label">Quantity:</label>
            <input type="text" class="form-control" id="product-quantity" formControlName="quantity" placeholder="Input your product's quantity">
            <pre *ngIf="emptyForm.controls['quantity'].invalid">Input only positive number</pre>
          </div>
          <div class="mb-3">
            <label for="product-price" class="col-form-label">Price:</label>
            <input type="text" class="form-control" id="product-price" formControlName="price" placeholder="Input your product's price(per item)">
            <pre *ngIf="emptyForm.controls['price'].invalid">Input only positive number</pre>
          </div>
          <div class="mb-3">
            <label for="product-weight" class="col-form-label">Weight:</label>
            <input type="text" class="form-control" id="product-weight" formControlName="weight" placeholder="Input your product's weight(per item)">
            <pre *ngIf="emptyForm.controls['weight'].invalid">Input only positive number</pre>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="reset()">Close</button>
        <button type="submit" value="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSubmit()">Add product</button>
      </div>
    </div>
  </div>
</div>
