/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

app-topbar {
  width: 100%;
  height: 68px;
  background-color: #1976d2;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-topbar h1 {
  color: white;
  margin: 0;
}

pre{
  color: red;
}